.btnDelete {
  margin-left: 10px;
}
.isDone {
  text-decoration: line-through;
  color: #9d9d9d;
}
.btnActive {
  background: #7fd7d9;
}
.titleContainer {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.btnDeleteTodoList {
  height: fit-content;
  width: fit-content;
}
.tasksLists {
  padding: 0;
}
.tasksLists li {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.buttons {
  display: flex;
  gap: 10px;
}
