.todoList__title-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}

.todoList__title-wrapper span,
.todoList__title-wrapper input {
  font-size: 18px;
  font-weight: 600;
}

.todoList__btn--delete {
  margin-left: 10px;
  height: fit-content;
}

.todoList__tasks {
  width: 100%;
  box-sizing: border-box;
  margin: 10px 0;
  padding: 0;
}

.todoList__info-subtitle {
  text-align: center;
}

.todoList__buttons-wrapper {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.todoList__title {
  font-size: 18px;
  font-weight: 600;
}
