.editable-span__title {
  white-space: break-spaces;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
}

.editable-span__input {
  width: 100%;
  font-weight: inherit;
  font-size: inherit;
}

.editable-span__skeleton-wrapper {
  width: 100%;
}

.editable-span__skeleton-wrapper .editable-span__skeleton {
  width: 90%;
  height: 23px;
  border-radius: 4px;
}
