.btnDelete {
  margin-left: 10px;
}
.isDone {
  text-decoration: line-through;
  color: #9d9d9d;
}
.btnActive {
  background: #7fd7d9;
}
.inputError {
  border: 2px solid red;
  outline: none;
}
.textError {
  color: red;
}
.titleContainer {
  display: grid;
  grid-template-columns: auto auto;
}
.btnDeleteTodoList {
  height: fit-content;
  width: fit-content;
  align-self: center;
}
